@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-flex" }))
    {
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-8">
        @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-decoration-none text-light" })
    </div>
    <div class="col">
        <a href="javascript:document.getElementById('logoutForm').submit()" role="button" class="btn btn-primary">Log off</a>
    </div>
</div>
    
    }
}
else
{
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
            @Html.ActionLink("Log in", "index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })

        </div>
    </div>
}
